body{background:#f5f5f5;font-family: "微软雅黑";}
.wrap{width:100%;position: relative;clear:both;}
.f60{background:#f60}
.lan{background:#2479c1}
.cfff{color:#fff}
.xz{border-bottom:1px solid #ddd;padding-bottom:10px}
.xz i{border-bottom:3px solid #f60;padding-bottom:8px}
.wrap p{margin-top:15px;font-size:14px}
.wrap ok{background:#f60}
.mt30{margin-top:30px}
.lixi{border:1px solid #f60;padding:5px 10px}
