@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
}
.loading_div {z-index:8000;position: absolute;width: 100%;height: 100%;top: 0px;left: 0;filter:alpha(opacity=60);-moz-opacity: 0.6;opacity: 0.6;visibility:visible;display:none; background-image:url(/assets/images/alpha.png);}
#checkCodeDiv{z-index:80001; position:absolute;width:100%;}
#checkCodeTable{ border-width:1px; border-style:solid}
form {vertical-align:middle;margin:0;padding:0;}
.keyOnMouseOver {color: #FFF;background-color: #06C;}
#videoDiv {overflow: hidden;visibility: visible;height:1px;width:200px;}
#rightClientCardDiv{overflow: hidden;visibility: visible;height:100%;}
#emotDiv {position:absolute;width:425px;height:232px;z-index:1;display:none;border: 1px solid #666666;}
#magicDiv {position:absolute;width:470px;height:260px;z-index:1;display:none;border: 1px solid #666666;background-color: #FFFFFF;}
.localDiv {position: absolute;left: 0px;top: 0px;visibility: visible;width:100%;height:100%;}
#MagicFaceDiv {position:absolute;left:329px;top:78px;width:400px;height:300px;z-index:50001;visibility: hidden;}
#chooseColor {position:absolute;left:600px;top:29px;width:237px;height:200px;visibility: hidden;z-index:1;border: 1px solid #CCCCCC;}
.colorTable {border: 1px solid #000;}
#keySetDiv {position:absolute;left:400px;top:424px;width:152px;height:38px;z-index:50002;background-color: #FFFFFF;border: 1px solid #000;}
#controlPanel,#resultPanel{width:200px;margin:20px auto;padding:25px;border:3px none gray;-moz-border-radius:10px;background:#f8f8f8;}
#errorArea{width:200px;margin:20px auto;padding:25px;border:3px solid gray;-moz-border-radius:10px;background:red;}
#normalMessageArea{width:200px;margin:20px auto;padding:25px;border:3px solid gray;-moz-border-radius:10px;background:yellow;}
#progressBar { padding-top: 5px; }
#totalProgressBarBox {width: 200px;height: 10px;border: 1px inset;background-color: #FFFFFF;}
#totalProgressBarBoxContent {width: 0;height: 10px;border-right: 1px solid #444;background-color: #3366CC;}
table {font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;text-decoration: none;}
.sendBox{border: 0 none;display: block;height: 100%;margin: 2;outline: 0 none;overflow-x: hidden;overflow-y: auto;padding: 0;width: 100%;word-wrap: break-word;}



pre{
    white-space:pre-wrap; /* css3.0 */
    white-space:-moz-pre-wrap; /* Firefox */
    white-space:-pre-wrap; /* Opera 4-6 */
    white-space:-o-pre-wrap; /* Opera 7 */
    word-wrap:break-word; /* Internet Explorer 5.5+ */
}

