<include file="Public/base" />
<script src='__CONTENT__/bootstrapvalidator/dist/js/bootstrapValidator.js' language='JavaScript'></script>
<link rel="stylesheet" href="__CONTENT__/bootstrapvalidator/dist/css/bootstrapValidator.css" />
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">

		<ul class="breadcrumb">
			<li><i class="icon-home home-icon"></i>后台管理</li>
			<span id="span_dh">&nbsp;>&nbsp;&nbsp;系统管理&nbsp;&nbsp;>&nbsp;&nbsp;系统参数设置
			</span>
		</ul>
		<!-- .breadcrumb -->

	</div>

	<!-- 内容 -->
	<div class="page-content">

		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<div class="tabbable">
				<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
					<li class="active">
						<a data-toggle="tab" href="#SystemConfig">系统参数</a>
					</li>
				</ul>

				<div class="tab-content">
					<div id="SystemConfig" class="tab-pane in active">

						<form id="Form1" class="form-horizontal" role="form" method="post">
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司收款方 </label>
								<div class="col-sm-9">
									<input type="text" name="CompanyReceiveAccName" id="txtCompanyReceiveAccName" class="col-xs-10 col-sm-5" /> <label class="middle red">*</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司联系方式 </label>
								<div class="col-sm-9">
									<input type="text" name="CompanyTelPhone" id="txtCompanyTelPhone" class="col-xs-10 col-sm-5" /> <label class="middle red">*</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司微信 </label>
								<div class="col-sm-9">
									<input type="text" name="CompanyWebChat" id="txtCompanyWebChat" class="col-xs-10 col-sm-5" /> <label class="middle red">*</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司邮箱 </label>
								<div class="col-sm-9">
									<input type="text" name="CompanyEmail" id="txtCompanyEmail" class="col-xs-10 col-sm-5" /> <label class="middle red">*</label>
								</div>
							</div>
							<div class="form-group" style="display:none;">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司支付宝账号 </label>
								<div class="col-sm-9">
									<input type="text" name="CompanyReceiveAlipay" id="txtCompanyReceiveAlipay" class="col-xs-10 col-sm-5" /> <label class="middle red">*</label>
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司开户银行 </label>
								<div class="col-sm-9">

									<textarea id="txtCompanyBank" class="col-xs-10 col-sm-5" style="height:100px;"></textarea>

									<label class="middle red">多个用英文分号“;”分隔</label>
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司开户名 </label>
								<div class="col-sm-9">

									<textarea id="txtCompanyBankAccountName" class="col-xs-10 col-sm-5" style="height:100px;"></textarea>
									<label class="middle red">多个用英文分号“;”分隔</label>
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 公司银行账号 </label>
								<div class="col-sm-9">

									<textarea id="txtCompanyBankCode" class="col-xs-10 col-sm-5" style="height:100px;"></textarea>

									<label class="middle red">多个用英文分号“;”分隔</label>
								</div>

							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right"
									for="form-field-1">收款确认短信模板 </label>

								<div class="col-sm-9">
									<textarea id="txtSKQRMSG" class="col-xs-10 col-sm-5" style="height:100px;"></textarea>
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">限制IP注册会员开关 </label>

								<div class="col-sm-9">
									<label> <input id="chkIPLimit"
										onclick="ShowCheckSpan(this);"
										class="ace ace-switch ace-switch-4" type="checkbox" /> <span
										id="chkIPLimit_Span" class="lbl bottom red"></span>
									</label>
								</div>

							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">新会员注册通道开关 </label>

								<div class="col-sm-9">
									<label> <input id="chkZCXHYTD"
										onclick="ShowCheckSpan(this);"
										class="ace ace-switch ace-switch-4" type="checkbox" /> <span
										id="chkZCXHYTD_Span" class="lbl bottom red"></span>
									</label>
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">新会员注册每天限额 </label>

								<div class="col-sm-9">
									<label> <input type="text" name="ZCXHYTDXE"
										id="txtZCXHYTDXE"
										class="col-xs-10 col-sm-5" /> <label class="middle red">*</label>
									</label>
								</div>

							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1">关闭注册通道系统提示 </label>

								<div class="col-sm-9">
									<textarea id="txtGBZCXHYTD" class="col-xs-10 col-sm-5" style="height:100px;"></textarea>
								</div>

							</div>

							<div class="clearfix form-actions">
								<div class="col-md-offset-3 col-md-9">
									<button class="btn btn-info" type="button" onclick="SaveForm();">
										<i class="icon-ok bigger-110"></i> 保存
									</button>

								</div>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<script type='text/javascript'>
	$(function() {
		$('#Form1').bootstrapValidator({　　　
			message: 'This value is not valid',
			　feedbackIcons: {　　　　　　　　 //valid: 'glyphicon glyphicon-ok',
				　　　　　　　　 //invalid: 'glyphicon glyphicon-remove',
				　　　　　　　　 //validating: 'glyphicon glyphicon-refresh'
				　　　　　　　　},
			fields: {
				UserInitialPassword: {
					validators: {
						notEmpty: {
							message: '不能为空'
						},
						stringLength: {
							min: 6,
							max: 20,
							message: '长度必须大于6位小于20位'
						}
					}
				}
			}
		});
		InitForm();
	});

	function ShowCheckSpan(obj) {
		if(obj.checked) {
			document.getElementById(obj.id + "_Span").innerHTML = "&nbsp;&nbsp;&nbsp;打开";
		} else {
			document.getElementById(obj.id + "_Span").innerHTML = "&nbsp;&nbsp;&nbsp;关闭";
		}
	}
	function InitForm() {
		var CompanyReceiveAccName = "<{$config.gsskf}>";
		$("#txtCompanyReceiveAccName").val(CompanyReceiveAccName);

		var CompanyTelPhone = "<{$config.gslxfs}>";
		$("#txtCompanyTelPhone").val(CompanyTelPhone);

		var CompanyWebChat = "<{$config.gswx}>";
		$("#txtCompanyWebChat").val(CompanyWebChat);

		var CompanyEmail = "<{$config.gsyx}>";
		$("#txtCompanyEmail").val(CompanyEmail);

		var CompanyBank = "<{$config.gskhyh}>";
		$("#txtCompanyBank").val(CompanyBank);

		var CompanyBankAccountName = "<{$config.gskhm}>";
		$("#txtCompanyBankAccountName").val(CompanyBankAccountName);

		var CompanyBankCode = "<{$config.gsyhzh}>";
		$("#txtCompanyBankCode").val(CompanyBankCode);

		var CompanyReceiveAlipay = "<{$config.zfbzh}>";
		$("#txtCompanyReceiveAlipay").val(CompanyReceiveAlipay);

		var RegisterMsg = "<{$config.zcly}>";
		$("#chkRegisterMsg")[0].checked = RegisterMsg;
		ShowCheckSpan($("#chkRegisterMsg")[0]);

		var IPLimit = "<{$config.xzipzckg}>";
		$("#chkIPLimit")[0].checked = IPLimit;
		ShowCheckSpan($("#chkIPLimit")[0]);

		var ZCXHYTD = "<{$config.xhyzctd}>";
		$("#chkZCXHYTD")[0].checked = ZCXHYTD;
		ShowCheckSpan($("#chkZCXHYTD")[0]);

		var ZCXHYTDXE = "<{$config.xhymrxe}>";
		$("#txtZCXHYTDXE").val(ZCXHYTDXE);

		var GBZCXHYTD = "<{$config.gbzcts}>";
		$("#txtGBZCXHYTD").val(GBZCXHYTD);

		//var PDCGMSG="";
		//$("#txtPDCGMSG").val(PDCGMSG);

		//var SKQRMSG="";
		//$("#txtSKQRMSG").val(SKQRMSG);

	}

	function SaveForm() {
		$('#Form1').data('bootstrapValidator').validate();
		var IsValid = $("#Form1").data('bootstrapValidator').isValid();

		if(!IsValid)
			return;
		var SavaData = {
			CompanyReceiveAccName: $("#txtCompanyReceiveAccName").val(),
			CompanyTelPhone: $("#txtCompanyTelPhone").val(),
			CompanyWebChat: $("#txtCompanyWebChat").val(),
			CompanyEmail: $("#txtCompanyEmail").val(),
			CompanyReceiveAlipay: $("#txtCompanyReceiveAlipay").val(),
			CompanyBank: $("#txtCompanyBank").val(),
			CompanyBankAccountName: $("#txtCompanyBankAccountName").val(),
			CompanyBankCode: $("#txtCompanyBankCode").val(),

			RegisterMsg: $("#chkRegisterMsg")[0].checked,

			AutoMarry: $("#chkAutoMarry")[0].checked,

			MarrySuccessMsg: $("#chkMarrySuccessMsg")[0].checked,
			PaidanTXMsg: $("#chkPaidanTXMsg")[0].checked,
			ReceiveMoneyMsg: $("#chkReceiveMoneyMsg")[0].checked,
			IPLimit: $("#chkIPLimit")[0].checked,
			ZCXHYTD: $("#chkZCXHYTD")[0].checked,
			ZCXHYTDXE: $("#txtZCXHYTDXE").val(),
			GBZCXHYTD: $("#txtGBZCXHYTD").val()
		};
		var _url = "<{:url('System/sysact')}>";

		$.ajax({
			type: "POST", // 用POST方式传输
			dataType: "json",
			url: _url, // 目标地址
			data: SavaData,
			success: function(data) {
				ShowMsg(data.msg);
			},
			error: function(data) {
				console.log(data);
			}
		});
	}
</script>