
/* bet-detail */
.bet-detail{padding:10px;border-bottom:1px solid #E3E3E3;background-color:#FAFAFA;}
.bet-detail .table th,.bet-detail .table td{border:0 none;padding:6px 16px;}
.bet-detail .ico-lottery-num,.bet-detail .ico-lottery-num-blue{display:inline-block;width:22px;height:21px;line-height:20px;margin:5px;text-align:center;font-style:normal;font-weight:700;color:#FFF;background:url(../images/ui-proxy.png) 0 -20px no-repeat;}
.bet-detail .ico-lottery-num-blue{background-position:0 -50px;}

/* chas-detail */
.chas-detail{padding:10px;border-bottom:1px solid #E3E3E3;background-color:#FAFAFA;}
.chas-detail .table-title{font-size:16px;font-weight:700;vertical-align:top;}
.chas-detail .table th,.chas-detail .table td{border:0 none;padding:6px 16px;}
.chas-detail-table{height:90px;border:1px solid #E3E3E3;background-color:#FFF;overflow-y:scroll;}
.chas-detail-table th,.chas-detail-table td{text-align:center;}
.chas-detail-table th{font-weight:700;}
.ico-phase-current{display:inline-block;width:44px;height:17px;margin-left:-50px;margin-right:5px;padding-left:5px;line-height:16px;font-style:normal;color:#FFF;background:url(../images/ui-proxy.png) -30px -20px no-repeat;text-align:left;}

/* sreach-bet*/
.search-bet .time{padding-left:40px;padding-right:4px;}

/*ucenter-bet-details*/
.ucenter-bet-details{max-height: 150px;_height: 150px;overflow: auto;}