.barcode ul, ol, li{
margin: 0;
padding: 0;
}

/*äºŒç»´ç */
.barcode { position: absolute;  right: 10px;z-index: 2000 }
.barcode-line{ width: 160px; font-size: 0; background: url(../assets/images/2013112602.gif) repeat-y 53% 50%; height: 0px }
.barcode-box{ width: 160px; height: 260px; background: url(../assets/images/20131126010.gif) no-repeat 0 0; cursor: move; font-size: 12px; }
.barcode-box  .barcode-inner{position: relative;color: #000;height: 190px;width: 133px;margin: 0 auto;padding-top: 70px;overflow: hidden}
.barcode-box ul{display: block;overflow: hidden;height: 24px;line-height:24px;clear: both;width: 134px;text-align: center;cursor: default;}
.barcode-box ul li{height: 24px;width: 50%;float: left;display: inline-block;background: #F4F0F0}
 .barcode-box ul li.on{background: #fff}
.barcode-inner .bar-con{width: 132px;margin: 2px auto;background:url(../assets/images/2013112801.png?v=0912) no-repeat;height: 132px;line-height: 275px;text-align: center;cursor: default; }
.barcode-inner .bar-con-1{background-position: 0px 0px;}
.barcode-inner .bar-con-2{background-position: 15px -120px;display: none}
.barcode-inner .bar-con-3{background-position: 15px 11px;display: none}
.barcode-inner .bar-con a:link,.barcode-inner .bar-con a:visited{text-decoration: none;color:#666}
.barcode-inner .bar-con a:hover{text-decoration: underline;color: #ff0000}
.barcode-inner .barcode-close{position: absolute;display: block;line-height: 100px;height: 16px;width: 15px;right: 0;top:40px;overflow: hidden;background:url(../assets/images/close.png?v=0912) no-repeat 0px -21px}
.barcode-inner .barcode-close:hover{background-position: 0px 0;}


div.banner{background: url(/assets/img/bgbanner.gif) no-repeat;position: relative;overflow: hidden;}
.banner .zhuce{ position:absolute; width:130px; height:45px; left:340px; top:30px; line-height:220px;text-decoration:none;}
.banner .floatright{ float:right; width:445px;}
.floatright .small-image{ background:#ffd3b3; font-size:12px;color: #505050;border: 1px solid #ffceab; text-decoration:none;float: left;height: 74px; margin:7px 15px 0 0;width: 65px;text-align: center;line-height: 18px;overflow: hidden;}
.small-image:hover{ border:1px solid #e76506; color:#ff6d00;}
.focus_news dt .indexJctj{color:#bb0000;}
.focus_news dt .indexJctj:hover{ color:#ff0000;}
