.start.upload_form_cont {
    background: -moz-linear-gradient(#ffffff, #f2f2f2);
    background: -ms-linear-gradient(#ffffff, #f2f2f2);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(#ffffff, #f2f2f2);
    background: -o-linear-gradient(#ffffff, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2')";
    background: linear-gradient(#ffffff, #f2f2f2);
    color:#000;
    overflow:hidden;
}
.start #upload_form {
    float:left;
   /* padding:20px;*/
    width:700px;
    margin-top: 8px;
    margin-left: 10px;
}
.start #preview {
    background-color:#fff;
    display:block;
    float:right;
    width:200px;
}
.start #upload_form > div {
    margin-bottom:10px;
}
.start #speed,#remaining {
    float:left;
    width:100px;
}
.start #b_transfered {
    float:right;
    text-align:right;
}
.start .clear_both {
    clear:both;
}
.start input {
  
    border:1px solid #ccc;
    font-size:15px;
    padding:5px 10px;
    background: #fff;
}
.start input[type=button] {
    margin-left: -150px;
    margin-top: -7px;
    float: left;
    background: -moz-linear-gradient(#ffffff, #dfdfdf);
    background: -ms-linear-gradient(#ffffff, #dfdfdf);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
    background: -webkit-linear-gradient(#ffffff, #dfdfdf);
    background: -o-linear-gradient(#ffffff, #dfdfdf);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf')";
    background: linear-gradient(#ffffff, #dfdfdf);
}
.start #image_file {
    width:500px;
    float: left;
}

.start #progress_info {
    font-size:13px;
}
.start #fileinfo,#error,#error2,#abort,#warnsize {
    color:#aaa;
    display:none;
    font-size:13px;
    font-style:italic;
    margin-top:10px;
}
.start #progress {
    border:1px solid #ccc;
    display:none;
    float:left;
    height:14px;
   
    background: -moz-linear-gradient(#66cc00, #4b9500);
    background: -ms-linear-gradient(#66cc00, #4b9500);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66cc00), color-stop(100%, #4b9500));
    background: -webkit-linear-gradient(#66cc00, #4b9500);
    background: -o-linear-gradient(#66cc00, #4b9500);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500')";
    background: linear-gradient(#66cc00, #4b9500);
}
.start #progress_percent {
    float:right;
}
.start #upload_response {
    margin-top: 10px;
    padding: 20px;
    overflow: hidden;
    display: none;

background: #efefef;
  
    box-shadow: 0 0 5px #ccc;
    background: -moz-linear-gradient(#bbb, #eee);
    background: -ms-linear-gradient(#bbb, #eee);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbb), color-stop(100%, #eee));
    background: -webkit-linear-gradient(#bbb, #eee);
    background: -o-linear-gradient(#bbb, #eee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#eee');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#eee')";
    background: linear-gradient(#bbb, #eee);
}
.start{
    width: 540px;
    height: 50px;
    border: 1px solid #ccc;
    background: #efefef;
    margin-top: 20px;
}