<include file="Public/base" />
<link rel="stylesheet" href="__CONTENT__/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
<script src='__CONTENT__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' language='JavaScript'></script>
<script src='__CONTENT__/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' language='JavaScript'></script>
<script type="text/javascript">
</script>
<style>
	#tabList th {
		background: #FFF;
		vertical-align: middle;
	}
	
	#tabList td {
		vertical-align: middle;
	}
</style>

<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><i class="icon-home home-icon"></i>后台管理</li>
			<span id="span_dh">&nbsp;>&nbsp;&nbsp;财务管理&nbsp;&nbsp;>&nbsp;&nbsp;会员收益明细
			</span>
		</ul>
		<!-- .breadcrumb -->

	</div>

	<!-- 内容 -->
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12 widget-main ">
				<div class="">

					<h4 class="lighter">
						<form id="formSearch" class="form-horizontal"
							method="post">
							<div class="form-group">
								<div>
									<label class=" control-label col-sm-1">会员</label>
								</div>
								<div class="col-sm-2">
									<span class="input-icon input-icon-right"> <input
										type="text" class="form-control" id="txtClientID"
										name="ClientID" value="" placeholder="模糊查询">

									</span>
								</div>
								<div>
									<label class="control-label col-sm-1">收益钱包</label>
								</div>

								<div class="col-sm-2">
							
									<select name="WalletType" class="form-control" id='txtWalletType'>
									<option value="">
										</option>
										<option value="01">钱包余额										</option><option value="02">本金钱包										</option><option value="03">利息钱包										</option><option value="04">动态钱包										</option><option value="05">快进快出										</option><option value="06">证券余额										</option>									</select>
								</div>
								<div>
									<label class=" control-label col-sm-1">结算日期</label>
								</div>
								<div class="col-sm-2">
									<span class="input-icon input-icon-right"> <input
										type="text" class="form-control" id="det_StartCreateTime"
										name="StartCreateTime" value=""> <i
										class="icon-calendar"></i>
									</span>
								</div>

								<div class="col-sm-2">
									<span class="input-icon input-icon-right"> <input
										type="text" class="form-control" id="det_EndCreateTime"
										name="EndCreateTime" value=""> <i
										class="icon-calendar"></i>
									</span>
								</div>

								
							</div>
							
							<div class="form-group">
								
								<div>
									<label class="control-label col-sm-1">类型</label>
								</div>

								<div class="col-sm-2">
							
									<select name="FinanceType" class="form-control" id='txtFinanceType'>
									<option value="">
										</option>
										<option value="01">日分红收益										</option><option value="02">彩票盈利										</option><option value="03">彩票亏损										</option><option value="04">后台充值										</option><option value="05">后台扣除										</option><option value="06">领导奖收益										</option><option value="07">会员充值										</option><option value="08">会员提现										</option><option value="09">购买证券扣除										</option><option value="10">投注彩票扣除										</option><option value="11">本金收益										</option><option value="12">激活扣除										</option><option value="13">会员转账										</option><option value="14">转入钱包余额										</option><option value="15">充值返点										</option><option value="16">团队奖										</option>									</select>
								</div>
								
								<div class="col-sm-3" style="text-align: center;float:right;margin-top:10px;">
									<button class="btn btn-primary" type="button" id="btn_SubmitSearch"
									onclick="SubmitSearchForm('IncomeList');">
										<i class="icon-search align-top bigger-125"></i> 查询
									</button>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<button class="btn" type="button" onclick="ResetSearchForm();">
										<i class="icon-refresh align-top bigger-125"></i> 重置
									</button>
								</div>
							</div>
						</form>
					</h4>
				</div>

				<div class="table-responsive">
					<table id="tabList" class="table table-striped table-bordered table-hover datatable table-condensed">
						<thead>
							<tr>
								<th class="center">#</th>
								<th class="center">结算日期</th>
								<th class="center">收益会员</th>
								<th class="center">提供会员</th>
								<th class="center">奖金类型</th>
								<th class="center">钱包</th>
								<th class="center">实际金额</th>
								<th class="center">新余额</th>
								<th class="center">奖金状态</th>
								<th class="center">入账时间</th>
								<th class="center">说明</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="center col-xs-0 col-sm-0">1</td>
								<td class="center col-xs-1 col-sm-1">
									2018年06月11日 </td>
								<td class="center col-xs-1 col-sm-1">77</td>
								<td class="center col-xs-1 col-sm-1">

								</td>
								<td class="center col-xs-2 col-sm-2">后台充值</td>
								<td class="center col-xs-1 col-sm-1">钱包余额</td>

								<td class="center col-xs-1 col-sm-1">
									<i class="icon-plus red bigger-120"></i> 10000.00</td>

								<td class="center col-xs-1 col-sm-1">

									11000.00</td>
								<td class="center col-xs-1 col-sm-1">
									<span class="label label-success arrowed-in arrowed-in-right">已入账</span>

								</td>
								<td class="center col-xs-2 col-sm-2">
									2018年06月11日 18:52:42 </td>
								<td class="center col-xs-2 col-sm-2">
									系统后台充值/扣除 </td>
							</tr>
							<tr>
								<td class="center col-xs-0 col-sm-0">2</td>
								<td class="center col-xs-1 col-sm-1">
									2018年06月11日 </td>
								<td class="center col-xs-1 col-sm-1">77</td>
								<td class="center col-xs-1 col-sm-1">

								</td>
								<td class="center col-xs-2 col-sm-2">后台充值</td>
								<td class="center col-xs-1 col-sm-1">钱包余额</td>

								<td class="center col-xs-1 col-sm-1">
									<i class="icon-plus red bigger-120"></i> 1000.00</td>

								<td class="center col-xs-1 col-sm-1">

									1000.00</td>
								<td class="center col-xs-1 col-sm-1">
									<span class="label label-success arrowed-in arrowed-in-right">已入账</span>

								</td>
								<td class="center col-xs-2 col-sm-2">
									2018年06月11日 18:52:01 </td>
								<td class="center col-xs-2 col-sm-2">
									系统后台充值/扣除 </td>
							</tr>
							<tr>
								<td class="center col-xs-0 col-sm-0">3</td>
								<td class="center col-xs-1 col-sm-1">
									2017年11月02日 </td>
								<td class="center col-xs-1 col-sm-1">1</td>
								<td class="center col-xs-1 col-sm-1">

									7
								</td>
								<td class="center col-xs-2 col-sm-2">充值返点</td>
								<td class="center col-xs-1 col-sm-1">本金钱包</td>

								<td class="center col-xs-1 col-sm-1">
									<i class="icon-plus red bigger-120"></i> 1.00</td>

								<td class="center col-xs-1 col-sm-1">

									101.00</td>
								<td class="center col-xs-1 col-sm-1">
									<span class="label label-success arrowed-in arrowed-in-right">已入账</span>

								</td>
								<td class="center col-xs-2 col-sm-2">
									2017年11月02日 18:10:16 </td>
								<td class="center col-xs-2 col-sm-2">
									返佣比例0% </td>
							</tr>
							<tr>
								<td class="center col-xs-0 col-sm-0">4</td>
								<td class="center col-xs-1 col-sm-1">
									2017年11月02日 </td>
								<td class="center col-xs-1 col-sm-1">7</td>
								<td class="center col-xs-1 col-sm-1">

								</td>
								<td class="center col-xs-2 col-sm-2">会员充值</td>
								<td class="center col-xs-1 col-sm-1">钱包余额</td>

								<td class="center col-xs-1 col-sm-1">
									<i class="icon-plus red bigger-120"></i> 150.00</td>

								<td class="center col-xs-1 col-sm-1">

									7650.00</td>
								<td class="center col-xs-1 col-sm-1">
									<span class="label label-success arrowed-in arrowed-in-right">已入账</span>

								</td>
								<td class="center col-xs-2 col-sm-2">
									2017年11月02日 18:10:16 </td>
								<td class="center col-xs-2 col-sm-2">
								</td>
							</tr>
							<tr>
								<td class="center col-xs-0 col-sm-0">5</td>
								<td class="center col-xs-1 col-sm-1">
									2017年11月02日 </td>
								<td class="center col-xs-1 col-sm-1">1</td>
								<td class="center col-xs-1 col-sm-1">

									7
								</td>
								<td class="center col-xs-2 col-sm-2">充值返点</td>
								<td class="center col-xs-1 col-sm-1">本金钱包</td>

								<td class="center col-xs-1 col-sm-1">
									<i class="icon-plus red bigger-120"></i> 50.00</td>

								<td class="center col-xs-1 col-sm-1">

									100.00</td>
								<td class="center col-xs-1 col-sm-1">
									<span class="label label-success arrowed-in arrowed-in-right">已入账</span>

								</td>
								<td class="center col-xs-2 col-sm-2">
									2017年11月02日 18:09:09 </td>
								<td class="center col-xs-2 col-sm-2">
									返佣比例0% </td>
							</tr>
							<tr>
								<td class="center col-xs-0 col-sm-0">6</td>
								<td class="center col-xs-1 col-sm-1">
									2017年11月02日 </td>
								<td class="center col-xs-1 col-sm-1">7</td>
								<td class="center col-xs-1 col-sm-1">

								</td>
								<td class="center col-xs-2 col-sm-2">会员充值</td>
								<td class="center col-xs-1 col-sm-1">钱包余额</td>

								<td class="center col-xs-1 col-sm-1">
									<i class="icon-plus red bigger-120"></i> 7500.00</td>

								<td class="center col-xs-1 col-sm-1">

									7500.00</td>
								<td class="center col-xs-1 col-sm-1">
									<span class="label label-success arrowed-in arrowed-in-right">已入账</span>

								</td>
								<td class="center col-xs-2 col-sm-2">
									2017年11月02日 18:09:09 </td>
								<td class="center col-xs-2 col-sm-2">
								</td>
							</tr>
							<tr>
								<td class="center col-xs-0 col-sm-0">7</td>
								<td class="center col-xs-1 col-sm-1">
									2017年11月02日 </td>
								<td class="center col-xs-1 col-sm-1">7</td>
								<td class="center col-xs-1 col-sm-1">

								</td>
								<td class="center col-xs-2 col-sm-2">后台扣除</td>
								<td class="center col-xs-1 col-sm-1">钱包余额</td>

								<td class="center col-xs-1 col-sm-1">
									<i class="icon-minus green bigger-120"></i> -7567.00</td>

								<td class="center col-xs-1 col-sm-1">

									0.00</td>
								<td class="center col-xs-1 col-sm-1">
									<span class="label label-success arrowed-in arrowed-in-right">已入账</span>

								</td>
								<td class="center col-xs-2 col-sm-2">
									2017年11月02日 18:08:54 </td>
								<td class="center col-xs-2 col-sm-2">
									系统后台充值/扣除 </td>
							</tr>
							<tr>
								<td class="center col-xs-0 col-sm-0">8</td>
								<td class="center col-xs-1 col-sm-1">
									2017年11月02日 </td>
								<td class="center col-xs-1 col-sm-1">7</td>
								<td class="center col-xs-1 col-sm-1">

								</td>
								<td class="center col-xs-2 col-sm-2">会员提现</td>
								<td class="center col-xs-1 col-sm-1">钱包余额</td>

								<td class="center col-xs-1 col-sm-1">
									<i class="icon-minus green bigger-120"></i> 33.00</td>

								<td class="center col-xs-1 col-sm-1">

									7567.00</td>
								<td class="center col-xs-1 col-sm-1">
									<span class="label label-success arrowed-in arrowed-in-right">已入账</span>

								</td>
								<td class="center col-xs-2 col-sm-2">
									2017年11月02日 18:06:11 </td>
								<td class="center col-xs-2 col-sm-2">
									系统后台提现 </td>
							</tr>
							<tr>
								<td class="center col-xs-0 col-sm-0">9</td>
								<td class="center col-xs-1 col-sm-1">
									2017年11月02日 </td>
								<td class="center col-xs-1 col-sm-1">1</td>
								<td class="center col-xs-1 col-sm-1">

									7
								</td>
								<td class="center col-xs-2 col-sm-2">充值返点</td>
								<td class="center col-xs-1 col-sm-1">本金钱包</td>

								<td class="center col-xs-1 col-sm-1">
									<i class="icon-plus red bigger-120"></i> 50.00</td>

								<td class="center col-xs-1 col-sm-1">

									50.00</td>
								<td class="center col-xs-1 col-sm-1">
									<span class="label label-success arrowed-in arrowed-in-right">已入账</span>

								</td>
								<td class="center col-xs-2 col-sm-2">
									2017年11月02日 17:42:47 </td>
								<td class="center col-xs-2 col-sm-2">
									返佣比例0% </td>
							</tr>
							<tr>
								<td class="center col-xs-0 col-sm-0">10</td>
								<td class="center col-xs-1 col-sm-1">
									2017年11月02日 </td>
								<td class="center col-xs-1 col-sm-1">7</td>
								<td class="center col-xs-1 col-sm-1">

								</td>
								<td class="center col-xs-2 col-sm-2">后台充值</td>
								<td class="center col-xs-1 col-sm-1">钱包余额</td>

								<td class="center col-xs-1 col-sm-1">
									<i class="icon-plus red bigger-120"></i> 100.00</td>

								<td class="center col-xs-1 col-sm-1">

									100.00</td>
								<td class="center col-xs-1 col-sm-1">
									<span class="label label-success arrowed-in arrowed-in-right">已入账</span>

								</td>
								<td class="center col-xs-2 col-sm-2">
									2017年11月02日 17:24:34 </td>
								<td class="center col-xs-2 col-sm-2">
									系统后台充值/扣除 </td>
							</tr>
						</tbody>
					</table>

					<div>
						<ul id="pageBar" class="pagination">
							<li>
								<a>当前1/7 每页10条 共65条</a>
							</li>
							<li class="active"><span class="current">1</span></li>
							<li>
								<a class="num" href="/ylyl/adminIndex.php/Home/Finance/IncomeList/p/2.html">2</a>
							</li>
							<li>
								<a class="num" href="/ylyl/adminIndex.php/Home/Finance/IncomeList/p/3.html">3</a>
							</li>
							<li>
								<a class="num" href="/ylyl/adminIndex.php/Home/Finance/IncomeList/p/4.html">4</a>
							</li>
							<li>
								<a class="num" href="/ylyl/adminIndex.php/Home/Finance/IncomeList/p/5.html">5</a>
							</li>
							<li>
								<a class="num" href="/ylyl/adminIndex.php/Home/Finance/IncomeList/p/6.html">6</a>
							</li>
							<li>
								<a class="num" href="/ylyl/adminIndex.php/Home/Finance/IncomeList/p/7.html">7</a>
							</li>
							<li>
								<a class="next" aria-label="Next" href="/ylyl/adminIndex.php/Home/Finance/IncomeList/p/2.html"><span aria-hidden="true">下一页</span></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- /.table-responsive -->

			</div>
		</div>
	</div>
</div>
</div>
<script type='text/javascript'>
	$(function() {
		$('#det_StartCreateTime').datetimepicker({
			language: 'zh-CN',
			weekStart: 1,
			todayBtn: 1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0,
			format: 'yyyy-mm-dd'
		});
		$('#det_EndCreateTime').datetimepicker({
			language: 'zh-CN',
			weekStart: 1,
			todayBtn: 1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0,
			format: 'yyyy-mm-dd'
		});

	});

	function ResetSearchForm() {
		$("#txtClientID").val('');
		$("#txtWalletType").val('');
		$("#det_StartCreateTime").val('');
		$("#det_EndCreateTime").val('');
		$("#txtFinanceType").val('');
	}
</script>