.head{
    width:100%;
    padding:2%;
    background:#158947;
    font-size:16px;
    color: white;
    text-align: center;
    font-weight:normal;
}
body {
  font-size:12px;
}
.item{
    background:#ebebeb;
    width:100%;
    padding:2%;
    margin-bottom:15%;
}
.item-list{
    width:100%;
    background: #fff;
    border-radius:7px;
    padding:2%;
    margin: 3% 0%;
    margin-bottom:5%;
}
.item-list h4{
    width:60%;
}
.item-list img{
    width:20%;
}
.item .data{
    width:100%;
    display: flex;
    flex-direction:row;
    align-items:center;
}
.data span{
    display:inline-block;
    width: 32%;
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    padding:1%;
}
.data i{
    font-style: normal;
}
.item-list button{
    background:#158947;
    border:none;
    border-radius:3px;
}
