body {
  font-size:12px;
}
.language{
    width: 100;
    padding:10%;
    position:fixed;
    left: 0;
    top: 10%;
}
.kind{
    width:50%;
    margin:20px auto;
    background: #fff;
    box-shadow: 5px 5px 5px #888888;
}
.kind h4{
    padding:5%;
    border-bottom:1px solid #dddddd;
}
.kind a{
    display: inline-block;
    width: 100%;
    border-bottom:1px solid #dddddd;
    padding:5%;
    color: black;
    font-size: 16px;
}
.kind a:hover{
    color: #fff;
    background:#5bc0de;
}
.kind button{
    width: 45%;
    border-radius:3px;
    border:none;
    padding:3%;
    margin:5% 1%;
    /*color: white;*/
}
/*.kind button:hover{
    background:#1295da;
}
*/
.icon-cuo{
    float:right;
}
/*主页面的掉落*/

.treasure{
    width:90%;
    padding:2%;
    /*margin-top:-220%;*/
    /*margin-left:5%;*/
    position: absolute;
    top:30%;
    left:5%;
    /*background:#ffe121;*/
    z-index: 99;
    border-radius:10px;
    text-align: center;
}
@media (min-width: 768px) {
  .treasure {
    width: 730px;
    margin-left:26%;
  }
}
/*@media (min-width: 992px) {
  .treasure {
    width: 950px;
    margin-left:18%;
  }
}
@media (min-width: 1200px) {
  .treasure {
    width: 730px;
    margin-left: 22%;
  }
}*/
.treasure-tou{
    width:50%;
}   
.treasure-xiang{
    width:70%;
    padding: 2%;
}
.treasure button{
    width:60%;
    padding: 5%;
    border:none;
    border-radius:5px;
   
    background:url(../img/2.png) no-repeat center center;
   
    background-size: 100% 100%;
    color: white;
    font-size: 16px;
}